<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">


	<dubbo:application name="stock-consumer-8082"/>
	<dubbo:registry address="${dubbo.registry.address}"/>
	 <!-- 
	<dubbo:reference id="stockServiceFacade" interface="com.crossoverJie.seconds.kill.api.StockServiceFacade" url="dubbo://localhost:20880" />
	<dubbo:reference id="orderServiceFacade" interface="com.crossoverJie.seconds.kill.api.OrderServiceFacade" url="dubbo://localhost:20880" />
	 -->
	
	<dubbo:reference id="stockServiceFacade" interface="com.crossoverJie.seconds.kill.api.StockServiceFacade"  />
	<dubbo:reference id="orderServiceFacade" interface="com.crossoverJie.seconds.kill.api.OrderServiceFacade"  />
    

</beans>